.logo-c {
  height: mobile-vw(72px);
  left: 50%;
  position: absolute;
  right: auto;
  top: mobile-vw(10px);
  transform: translateX(-50%);
  @include-media ('tablet') {
    top: tablet-vw(10px);
    height: tablet-vw(90px);
  }
  @include-media ('desktop') {
    top: desktop-vw(10px);
    height: desktop-vw(96px);
  }
}
