.header {
  bottom: auto;
  height: var(--header-height);
  isolation: isolate;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: 400ms transform ease;
  width: 100vw;
  z-index: 100;

  &.hidden {
    transform: translateY(-100%);

    &:before {
      opacity: 0;
    }

    .logoC {
      height: desktop-vw(50px);
    }
  }

  &.atTop {
    &:before {
      opacity: 1;
      pointer-events: auto;
    }

    .logoC {
      opacity: 1;
      pointer-events: auto;
    }

    .nav {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &.menuOpen {
    .nav {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .content {
    padding: 0 desktop-vw(40px);
    z-index: 200;
  }

  &:before {
    background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0.3) 30%, hsla(0, 0%, 0%, 0));
    content: "";
    height: desktop-vw(200px);
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: 400ms all ease;
    z-index: 50;

    @include-media ('mobile') {
      height: mobile-vw(100px);
    }
  }

  .logoC {
    height: mobile-vw(64px);
    left: 50%;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: auto;
    top: desktop-vw(20px);
    transform: translateX(-50%);
    transform-origin: top center;
    transition: 400ms all ease;
    z-index: 130;

    @include-media ('tablet') {
      height: tablet-vw(80px);
    }

    @include-media ('desktop') {
      height: desktop-vw(110px);
    }
  }

  .trigger {
    z-index: 200;

    .text {
      display: grid;
      font-size: mobile-vw(14px);
      overflow: hidden;
      transform: translateY(2px);

      @include-media ('tablet') {
        font-size: tablet-vw(12px);
      }

      @include-media ('desktop') {
        font-size: desktop-vw(14px);
      }

      > span {
        display: block;
        line-height: 1.25;
        grid-area: 1/1;
        transition: 600ms transform ease;

        &:first-child {
          transform: translateY(-100%);
        }
      }

      &.active {
        > span {
          &:first-child {
            transform: translateY(0%);
          }

          &:last-child {
            transform: translateY(100%);
          }
        }
      }
    }
  }

  .nav {
    color: var(--white);
    opacity: 0;
    position: relative;
    pointer-events: none;
    transition: 400ms all ease;
    z-index: 200;

    .navItem {
      font-size: desktop-vw(12px);
      font-weight: 400;

      @include-media ('mobile') {
        font-size: mobile-vw(18px);
      }
    }
  }
}
