.intro {
  height: 100vh;
}

.sanati {
  height: mobile-vw(100px);
  width: mobile-vw(360px);

  @include-media ('tablet') {
    height: tablet-vw(180px);
    width: tablet-vw(700px);
  }

  @include-media ('desktop') {
    height: desktop-vw(240px);
    width: desktop-vw(1100px);
  }
}

.circleVideoC {
  --cutoff: mobile-vw(20px);
  height: calc(100vw - var(--cutoff));
  width: calc(100vw - var(--cutoff));

  @include-media ('tablet') {
    --cutoff: tablet-vw(150px);
  }

  @include-media ('desktop') {
    --cutoff: desktop-vw(100px);
    height: calc(var(--lvh-calc) - var(--cutoff));
    width: calc(var(--lvh-calc) - var(--cutoff));
  }
}
