.circleVideoC {
  height: mobile-vw(300px);
  width: 100%;
  @include-media ('tablet') {
    height: tablet-vw(650px);
    width: tablet-vw(650px);
  }
  @include-media ('desktop') {
    --cutoff: desktop-vw(100px);
    height: calc(var(--lvh-calc) - var(--cutoff));
    width: calc(var(--lvh-calc) - var(--cutoff));
  }
}
