.cards {
  position: absolute;
  width: 86vw;
  height: 115vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cards li {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 86vw;
  height: 115vw;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.topGradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 25vh;
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 100%);
  z-index: 50;
}

.bottomGradient {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25vh;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  z-index: 50;
}

.actions {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}
