.embla-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(desktop-vw(70px), calc(100% + mobile-vw(10px)));
  display: flex;
  gap: mobile-vw(6px);
  justify-content: space-between;
  z-index: 200;

  @include-media ('tablet') {
    transform: translate(tablet-vw(70px), calc(100% + tablet-vw(10px)));
    gap: tablet-vw(6px);
  }
  @include-media ('desktop') {
    transform: translate(desktop-vw(70px), calc(100% + desktop-vw(10px)));
    gap: desktop-vw(6px);
  }
}
.embla {
  max-width: 100vw;
}
.embla-viewport {
  overflow: hidden;
}
.embla-container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla-slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
/* Parallax styles */
.embla-parallax {
  height: 100%;
  overflow: hidden;
}
.embla-parallax-layer {
  position: relative;
  width: calc(115% + (var(--slide-spacing) * 2));
  display: flex;
  justify-content: center;
}
