.title {
  left: 50%;
  /* letter-spacing: 0em; */
  overflow: hidden;
  position: relative;
  transform: translate(-50%, 0);
  @include-media ("tablet") {
    position: absolute;
    left: 50%;
    /* letter-spacing: 0.14em; */
    transform: translate(-50%, -100%);
    top: tablet-vw(100px);
  }
  @include-media ("desktop") {
    position: absolute;
    left: 50%;
    /* letter-spacing: 0.2em; */
    padding: desktop-vw(30px) 0;
    top: desktop-vw(50px);
    transform: translate(-50%, 0);
    white-space: nowrap;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  }
}
.description {
  position: relative;
  @include-media ("tablet") {
    position: absolute;
    bottom: tablet-vw(50px);
    left: tablet-vw(40px);

    background: hsla(10, 66%, 43%, 0.2);
    backdrop-filter: blur(10px);
    mask-image: hsla(10, 66%, 43%, 0.2);
  }
  @include-media ("desktop") {
    bottom: desktop-vw(40px);
    left: desktop-vw(40px);
    position: absolute;

    background: hsla(10, 66%, 43%, 0.2);
    backdrop-filter: blur(10px);
    mask-image: hsla(10, 66%, 43%, 0.2);
  }
}
