.title-c {
  font-size: mobile-vw(32px);
  left: 50%;
  letter-spacing: 0em;
  overflow: hidden;
  position: relative;
  transform: translate(-50%, 0);
  width: 96%;
  @include-media ("tablet") {
    position: absolute;
    font-size: tablet-vw(45px);
    left: 50%;
    letter-spacing: 0.3em;
    transform: translate(-50%, -100%);
    top: tablet-vw(150px);
  }
  @include-media ("desktop") {
    position: absolute;
    font-size: desktop-vw(70px);
    left: 50%;
    letter-spacing: 0.2em;
    padding: desktop-vw(30px) 0;
    top: desktop-vw(50px);
    transform: translate(-50%, 0);
    white-space: nowrap;
  }
  .title {
    /* filter: drop-shadow(-0.5px 0 0 black) drop-shadow(0.5px 0 0 black) drop-shadow(0 -0.5px 0 black)
      drop-shadow(0 0.5px 0 black); */

    @include-media ("tablet") {
      text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    }
  }
}
.descriptionC {
  left: 50%;
  font-size: mobile-vw(16px);
  position: relative;
  transform: translateX(-50%);
  width: mobile-vw(340px);
  @include-media ("tablet") {
    margin-top: 0;
    position: absolute;
    bottom: tablet-vw(150px);
    font-size: tablet-vw(16px);
    width: tablet-vw(400px);
  }
  @include-media ("desktop") {
    bottom: desktop-vw(100px);
    font-size: desktop-vw(15px);
    left: desktop-vw(60px);
    position: absolute;
    transform: translateX(0);
    width: desktop-vw(500px);
  }
  .description {
    padding: mobile-vw(10px);
    @include-media ("tablet") {
      padding: tablet-vw(10px);
    }
    @include-media ("desktop") {
      padding: desktop-vw(16px) desktop-vw(20px);
    }
  }
}
