.title-c {
  left: 50%;
  font-size: mobile-vw(45px);
  letter-spacing: 0em;
  position: absolute;
  top: mobile-vw(200px);
  transform: translate(-50%, -100%);
  width: 96%;
  @include-media ("tablet") {
    font-size: tablet-vw(45px);
    letter-spacing: 0.3em;
    top: tablet-vw(150px);
  }
  @include-media ("desktop") {
    font-size: desktop-vw(70px);
    letter-spacing: 0.2em;
    left: desktop-vw(100px);
    top: desktop-vw(100px);
    transform: translate(0, 0);
    white-space: nowrap;
  }
  .title {
    /* filter: drop-shadow(-0.5px 0 0 black) drop-shadow(0.5px 0 0 black) drop-shadow(0 -0.5px 0 black)
      drop-shadow(0 0.5px 0 black); */

    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  }
}
.descriptionC {
  bottom: mobile-vw(50px);
  left: 50%;
  font-size: mobile-vw(14px);
  position: absolute;
  transform: translateX(-50%);
  width: mobile-vw(300px);
  @include-media ("tablet") {
    bottom: tablet-vw(150px);
    font-size: tablet-vw(16px);
    width: tablet-vw(400px);
  }
  @include-media ("desktop") {
    bottom: desktop-vw(100px);
    font-size: desktop-vw(15px);
    left: desktop-vw(100px);
    transform: translateX(0);
    width: desktop-vw(500px);
  }

  .description {
    padding: mobile-vw(10px);
    @include-media ("tablet") {
      padding: tablet-vw(10px);
    }
    @include-media ("desktop") {
      padding: desktop-vw(16px) desktop-vw(20px);
    }
  }
}
