.container {
  position: relative;
  width: 100vw;
  overflow: hidden;
  z-index: 100;

  /* &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    outline: mobile-vw(4px) solid var(--bricky-brick);
    outline-offset: mobile-vw(-4px);
    z-index: 100;

    @include-media ('tablet') {
      outline: tablet-vw(10px) solid var(--bricky-brick);
      outline-offset: tablet-vw(-10px);
    }
    @include-media ('desktop') {
      outline: desktop-vw(8px) solid var(--bricky-brick);
      outline-offset: desktop-vw(-8px);
    }
  } */
}
.title {
  left: 50%;
  position: absolute;
  top: 30%;
  transform: translate(-50%, -100%);
  width: 96%;
  z-index: 150;
  @include-media ('tablet') {
    width: tablet-vw(600px);
  }
  @include-media ('desktop') {
    left: desktop-vw(100px);
    top: desktop-vw(100px);
    transform: translate(0, 0);
    width: desktop-vw(1230px);
    white-space: nowrap;
  }
}
.descriptionC {
  position: absolute;
  left: 50%;
  bottom: mobile-vw(50px);
  width: mobile-vw(300px);
  transform: translateX(-50%);

  @include-media ("tablet") {
    bottom: tablet-vw(150px);
    width: tablet-vw(400px);
  }
  @include-media ("desktop") {
    left: desktop-vw(100px);
    bottom: desktop-vw(100px);
    width: desktop-vw(400px);
    transform: translateX(0);
  }
}
.infoText {
  z-index: 150;
}
