.mapC {
  --cutoff: mobile-vw(20px);
  height: calc(100vw - var(--cutoff));
  width: calc(100vw - var(--cutoff));

  @include-media ('tablet') {
    --cutoff: tablet-vw(150px);
  }

  @include-media ('desktop') {
    --cutoff: desktop-vw(150px);
    height: calc(100vh - var(--cutoff));
    width: calc(100vh - var(--cutoff));
  }
}
