.frame {
  bottom: 0;
  clip-path: inset(0% 10% 100%);
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 150;
}
.wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.menu {
  height: 100vh;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 100vw;
  z-index: var(--z-index-menu);

  .box {
    height: var(--svh-calc);
    width: 100vw;

    @include-media ('tablet') {
      height: auto;
      width: tablet-vw(700px);
    }

    @include-media ('desktop') {
      height: desktop-vw(700px);
      width: desktop-vw(1300px);
    }
  }
}
