.form {
  bottom: 0;
  height: var(--svh-calc);
  position: fixed;
  right: 0;
  top: 0;
  /* width: 100vw; */
  z-index: 200;
  @include-media ('tablet') {
    height: auto;
    /* width: tablet-vw(700px); */
  }
  @include-media ('desktop') {
    height: 100%;
    /* width: desktop-vw(650px); */
  }
}
