.form {
  bottom: 0;
  height: var(--svh-calc);
  position: fixed;
  right: 0;
  top: 0;
  z-index: var(--z-modal);
  @include-media ('tablet') {
    height: auto;
  }
  @include-media ('desktop') {
    height: 100%;
    display: block;
  }
}
