.button {
  --padding: desktop-vw(6px);
  --height: desktop-vw(42px);
  --width: desktop-vw(200px);

  color: var(--bricky-brick);
  height: var(--height);
  width: var(--width);
  border: 1px solid var(--bricky-brick);
  border-radius: desktop-vw(5px);
  padding: var(--padding);

  @include-media ('mobile') {
    --padding: mobile-vw(4px);
    --height: mobile-vw(36px);
    --width: mobile-vw(180px);

    .text {
      font-size: mobile-vw(12px);
    }
  }

  @include-media ('tablet') {
    --padding: mobile-vw(2px);
    --height: mobile-vw(30px);
    --width: mobile-vw(150px);

    .text {
      font-size: mobile-vw(10px);
    }
  }

  @include-media ('desktop') {
    --padding: desktop-vw(6px);
    --height: desktop-vw(42px);
    --width: desktop-vw(200px);

    .text {
      font-size: desktop-vw(14px);
    }
  }

  @include-media ('hover') {
    &:hover {
    }
  }

  .text {
    color: var(--bricky-brick);
    font-family: var(--font-halenoir);
    font-size: desktop-vw(14px);
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;
    padding-top: 2px;
  }

  .iconC {
    height: calc(var(--height) - var(--padding) * 2);
    width: calc(var(--height) - var(--padding) * 2);

    .icon {
      height: desktop-vw(15px);
      width: desktop-vw(15px);

      @include-media ('mobile') {
        height: mobile-vw(12px);
        width: mobile-vw(12px);
      }
    }
  }
}
