.button {
  &.sm {
    --padding: mobile-vw(6px);

    @include-media ("tablet") {
      --padding: tablet-vw(6px);
    }

    @include-media ("desktop") {
      --padding: desktop-vw(6px);
    }
  }

  &.md {
    --padding: mobile-vw(7px);

    @include-media ("tablet") {
      --padding: tablet-vw(7px);
    }

    @include-media ("desktop") {
      --padding: desktop-vw(7px);
      font-size: desktop-vw(16px);
    }

    .icon-c {
      padding: var(--padding);

      .icon {
        height: mobile-vw(12px);
        width: mobile-vw(12px);

        @include-media ("tablet") {
          height: tablet-vw(12px);
          width: tablet-vw(12px);
        }

        @include-media ("desktop") {
          height: desktop-vw(16px);
          width: desktop-vw(16px);
        }
      }
    }
  }

  &.lg {
    --padding: mobile-vw(8px);

    @include-media ("tablet") {
      --padding: tablet-vw(8px);
    }

    @include-media ("desktop") {
      --padding: desktop-vw(8px);
      font-size: desktop-vw(18px);
    }

    .icon-c {
      padding: var(--padding);

      .icon {
        height: mobile-vw(12px);
        width: mobile-vw(12px);

        @include-media ("tablet") {
          height: tablet-vw(12px);
          width: tablet-vw(12px);
        }

        @include-media ("desktop") {
          height: desktop-vw(18px);
          width: desktop-vw(18px);
        }
      }
    }
  }

  &.fit-content {
    --padding: desktop-vw(7px);
  }

  .text-c {
    padding: calc(var(--padding));
  }

  .icon-c {
    padding: var(--padding);

    .icon {
      height: mobile-vw(12px);
      width: mobile-vw(12px);

      @include-media ("tablet") {
        height: tablet-vw(12px);
        width: tablet-vw(12px);
      }

      @include-media ("desktop") {
        height: desktop-vw(12px);
        width: desktop-vw(12px);
      }
    }
  }
}
