.frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  outline: mobile-vw(15px) solid var(--bricky-brick);
  outline-offset: mobile-vw(-15px);
  pointer-events: none;
  z-index: 100;

  @include-media ('desktop') {
    outline: desktop-vw(15px) solid var(--bricky-brick);
    outline-offset: desktop-vw(-15px);
  }
}
.title {
  position: absolute;
  top: desktop-vw(50px);
  left: desktop-vw(100px);
  width: desktop-vw(1230px);
  z-index: 150;

  @include-media ('desktop') {
    white-space: nowrap;
  }
}
.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  /* &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.15);
  } */

  .img {
    transform: scale(1.33);
    transform-origin: center center;
  }
}
.descriptionC {
  position: absolute;
  left: 50%;
  bottom: mobile-vw(50px);
  width: mobile-vw(300px);
  transform: translateX(-50%);

  @include-media ("desktop") {
    left: desktop-vw(100px);
    bottom: desktop-vw(100px);
    width: desktop-vw(400px);
  }
}
.infoText {
  width: mobile-vw(400px);
  z-index: 150;

  @include-media ("desktop") {
    width: desktop-vw(400px);
  }
}
.container {
  position: relative;
  width: 500%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}
