.frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: calc(100% - 160vh);
  pointer-events: none;
  z-index: 100;
}
.title-c {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  top: mobile-vw(75px);
  width: 96vw;
  z-index: 150;
  @include-media ('tablet') {
    top: tablet-vw(100px);
  }
  @include-media ('desktop') {
    font-size: desktop-vw(70px);
    letter-spacing: 0.3em;
    left: 50%;
    top: desktop-vw(100px);
    transform: translateX(-50%);
    white-space: nowrap;
  }

  .title {
    filter: drop-shadow(-0.5px 0 0 mistyrose) drop-shadow(0.5px 0 0 mistyrose) drop-shadow(0 -0.5px 0 mistyrose)
      drop-shadow(0 0.5px 0 mistyrose);
  }
}
