.frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: calc(100% - 160vh);
  pointer-events: none;
  z-index: 100;
}
.title-c {
  left: 50%;
  font-size: mobile-vw(35px);
  position: absolute;
  transform: translateX(-50%);
  top: mobile-vw(75px);
  width: 90vw;
  z-index: 150;
  @include-media ('tablet') {
    font-size: tablet-vw(35px);
    letter-spacing: 0.3em;
    top: tablet-vw(100px);
  }
  @include-media ('desktop') {
    font-size: desktop-vw(64px);
    letter-spacing: 0.3em;
    left: 50%;
    top: desktop-vw(100px);
    transform: translateX(-50%);
    white-space: nowrap;
  }
}

.text {
  font-size: mobile-vw(16px);
  @include-media ("tablet") {
    font-size: tablet-vw(18px);
  }
  @include-media ("desktop") {
    font-size: desktop-vw(24px);
  }
}
