@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --header-height: desktop-vw(84px);
  --header-height-v2: desktop-vw(90px);

  @include-media ('mobile') {
    --header-height: mobile-vw(64px);
    --header-height-v2: mobile-vw(60px);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --bricky-brick: #b73d25;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  pointer-events: auto;
  scrollbar-width: thin;
}

html,
body,
#root,
#__next {
  overscroll-behavior: none;
  min-height: 100%;
}

body {
  color: var(--bricky-brick);
  display: flex;
  flex-direction: column;
  cursor: default;
}

main {
  overflow: hidden;
  position: relative;
  z-index: z-index("main");
}

*::selection {
  background-color: var(--white);
  color: var(--bricky-brick);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

sup {
  font-size: xx-small;
  vertical-align: super;
}

.gsap-marker-end,
.gsap-marker-start,
.gsap-marker-scroller-end,
.gsap-marker-scroller-start {
  z-index: z-index("gsap-markers") !important;
}

.input-required {
  color: var(--error) !important;
  transition: 200ms all ease;

  * {
    color: var(--error) !important;
    transition: 200ms all ease;
  }
}

.inherit-dims {
  height: inherit;
  width: inherit;
}

.c-p {
  em {
    font-style: italic;
  }

  strong {
    font-weight: 700;
  }

  a {
    cursor: pointer;
  }
}

.add-header-height {
  margin-top: var(--header-height);
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
