@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: var(--black);
  --foreground: var(--white);

  --header-height: mobile-vw(72px);
  --header-height-slim: mobile-vw(48px);

  --svh-calc: calc(var(--svh, 1vh) * 100);
  --lvh-calc: calc(var(--lvh, 1vh) * 100);

  @include-media ('tablet') {
    --header-height: tablet-vw(84px);
    --header-height-slim: tablet-vw(64px);
  }

  @include-media ('desktop') {
    --header-height: desktop-vw(60px);
    --header-height-slim: desktop-vw(116px);
  }

  --z-content: z-stack(10000);
  --z-book-button: z-stack();
  --z-contact-form-mobile: z-stack();
  --z-sticky: z-stack();
  --z-header: z-stack();
  --z-header-content: z-stack();
  --z-menu: z-stack();
  --z-popup: z-stack();
  --z-modal-background: z-stack();
  --z-modal: z-stack();
  --z-alotech: z-stack();
  --z-radix-popper: z-stack();
  --z-preloader: z-stack();
  --z-gsap-markers: z-stack();
  --z-sticky-menu: z-stack();
}

* {
  scrollbar-width: thin;
}

/* Core styles that shouldn't be reset */
body {
  min-height: 100vh;
  overscroll-behavior: none;
  background-color: var(--theme-primary);
  color: var(--theme-secondary);
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-alexandria), Arial, Helvetica, sans-serif;
}

*::selection {
  background-color: var(--theme-secondary);
  color: var(--theme-primary);
}

.gsap-marker-end,
.gsap-marker-start,
.gsap-marker-scroller-end,
.gsap-marker-scroller-start {
  z-index: var(--z-gsap-markers) !important;
}

.inherit-dims {
  height: inherit;
  width: inherit;
}

.add-header-height {
  margin-top: var(--header-height);
}

.blur-bg {
  background: hsla(0, 0%, 15%, 0.8);
  backdrop-filter: blur(16px);
  mask-image: hsla(0, 0%, 15%, 0.8);
}

.blur-bg-bricky-brick {
  background: hsla(10, 66%, 43%, 0.9);
  backdrop-filter: blur(70px);
  mask-image: hsla(10, 66%, 43%, 0.9);
}

.blur-bg-bricky-brick-light {
  background: hsla(10, 66%, 43%, 0.7);
  backdrop-filter: blur(70px);
  mask-image: hsla(10, 66%, 43%, 0.7);
}

.blur-bg-bricky-brick-lighter {
  background: hsla(10, 66%, 43%, 0.2);
  backdrop-filter: blur(70px);
  mask-image: hsla(10, 66%, 43%, 0.2);
}

.blur-bg-white {
  background: hsla(0, 0%, 98%, 0.1);
  backdrop-filter: blur(16px);
  mask-image: hsla(0, 0%, 98%, 0.1);
}

#Click2ConnectPackageFrame {
  z-index: var(--z-alotech) !important;
}

[data-radix-popper-content-wrapper] {
  z-index: var(--z-radix-popper) !important;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.section-padding {
  @apply px-0 md:px-10 xl:px-16;
}

.section-container {
  @extend .section-padding;
  @apply xl:container;
}

.section-container-full-left {
  @extend .section-padding;
  @apply pl-0 md:pl-0 xl:pl-0;
}

.section-container-full-right {
  @extend .section-padding;
  @apply pr-0 md:pr-0 xl:pr-0;
}

.title-shadow {
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.description-bg {
  background: hsla(10, 66%, 43%, 0.2);
  backdrop-filter: blur(10px);
  mask-image: hsla(10, 66%, 43%, 0.2);
}
