.frame {
  bottom: 0;
  clip-path: inset(0% 10% 100%);
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 150;

  background: hsla(10, 66%, 43%, 0.8);
  backdrop-filter: blur(16px);
  mask-image: hsla(10, 66%, 43%, 0.8);

  @include-media ('tablet') {
    width: 100vw;
  }

  @include-media ('desktop') {
    width: 35vw;
  }
}

.menu {
  z-index: 150;

  .navList {
    .navItem {
      transition: 300ms opacity ease;
    }

    @include-media ('hover') {
      &:hover {
        .navItem {
          opacity: 0.5;
        }

        .navItem:hover {
          opacity: 1;
        }
      }
    }
  }

  .logoC {
    height: mobile-vw(100px);
    left: 50%;
    position: absolute;
    right: auto;
    top: mobile-vw(10px);
    transform: translateX(-50%);
    transform-origin: top center;
    transition: 400ms all ease;
    z-index: 130;

    @include-media ('desktop') {
      height: desktop-vw(110px);
      top: desktop-vw(20px);
    }
  }
}
