.frame {
  bottom: 0;
  clip-path: inset(0% 10% 100%);
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 150;
}

.wrapper {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.menu {
  height: 100vh;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 100vw;
  z-index: 150;

  .backdrop {
    backdrop-filter: blur(16px);
    background: hsla(10, 66%, 43%, 0.8);
    border-radius: 4px;
    height: 200%;
    inset: 0;
    mask-image: linear-gradient(to bottom, var(--bricky-brick) 0, var(--bricky-brick) 50%, transparent 50%);
    pointer-events: none;
    position: absolute;
    z-index: 1390;
  }

  .content {
    align-items: end;
    display: grid;
    gap: desktop-vw(32px);
    grid-template-columns: repeat(24, minmax(0, 1fr));
    padding: desktop-vw(40px);
    position: relative;
    z-index: 1400;

    @include-media ('mobile') {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .imgC {
      height: desktop-vw(600px);

      @include-media ('mobile') {
        display: none;
      }
    }

    .mask {
      clip-path: inset(0% 10% 100%);
      position: relative;
    }

    .img {
      height: desktop-vw(650px);
    }

    .nav {
      margin-bottom: desktop-vw(200px);

      @include-media ('hover') {
        &:hover {
          .navItem {
            opacity: 0.2;
          }
        }
      }

      .navItem {
        color: var(--white);
        font-family: var(--font-halenoir);
        font-size: desktop-vw(32px);
        font-weight: 300;
        transition: 300ms opacity ease;

        @include-media ('mobile') {
          font-size: mobile-vw(18px);
          text-align: center;
        }

        @include-media ('hover') {
          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .logoC {
      height: desktop-vw(110px);
      left: 50%;
      position: absolute;
      right: auto;
      top: desktop-vw(20px);
      transform: translateX(-50%);
      transform-origin: top center;
      transition: 400ms all ease;
      z-index: 130;

      @include-media ('mobile') {
        height: mobile-vw(100px);
        top: mobile-vw(10px);
      }
    }
  }
}
