.frame {
  bottom: 0;
  clip-path: inset(0% 10% 100%);
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: var(--z-menu);
  @include-media ('tablet') {
    width: 100vw;
  }
  @include-media ('desktop') {
    width: 24vw;
  }
}

.menu {
  z-index: var(--z-menu);

  .logoC {
    height: mobile-vw(100px);
    left: 50%;
    position: absolute;
    right: auto;
    top: mobile-vw(10px);
    transform: translateX(-50%);
    transform-origin: top center;
    transition: 400ms all ease;
    z-index: var(--z-menu);
    @include-media ('desktop') {
      height: desktop-vw(110px);
      top: desktop-vw(20px);
    }
  }

  .navItem {
    font-size: mobile-vw(18px);
    @include-media ('tablet') {
      font-size: tablet-vw(26px);
    }
    @include-media ('desktop') {
      font-size: desktop-vw(26px);
    }
  }
}
