.frame {
  height: 100vh;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}
.text {
  color: var(--white);
  font-family: var(--font-halenoir);
  font-size: desktop-vw(100px);
  font-weight: 700;
  left: 50%;
  position: absolute;
  top: 50px;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 150;
}
.bgImage {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;

  &:after {
    background-color: rgba(0, 0, 0, 0.15);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .img {
    transform: scale(1.33);
    transform-origin: center center;
  }
}
.infoCardC {
  bottom: 100px;
  height: desktop-vw(150px);
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: desktop-vw(500px);
}
.infoCard {
  align-items: center;
  border-radius: desktop-vw(8px);
  color: var(--white);
  display: flex;
  height: 100%;
  isolation: isolate;
  justify-content: center;
  overflow: hidden;
  padding: desktop-vw(24px);
  width: 100%;

  .infoText {
    color: var(--white);
    font-family: var(--font-halenoir);
    font-size: desktop-vw(16px);
    font-weight: 400;
    line-height: 1.5;
    position: relative;
    text-align: center;
    width: desktop-vw(350px);
    z-index: 150;
  }

  .backdrop {
    backdrop-filter: blur(16px);
    background: hsla(0, 0%, 0%, 0.3);
    border-radius: desktop-vw(8px);
    bottom: 0;
    height: 100%;
    left: 0;
    mask-image: hsla(0, 0%, 0%, 0.3);
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 50;
  }
}
.wrppr {
  height: 100vh;
  position: relative;
  width: 100%;
}
.panel {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}
.panel.gray {
  background-color: #777;
}
.panel.blue {
  background-color: #2c7ad2;
}
.panel.orange {
  background-color: #e77614;
}
.panel.red {
  background-color: #c82736;
}
.panel.simple {
  background-image: none !important;
}
